.App {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: #374151;
    border-radius: 20px;
    border: 0.1px solid #505a6b00;
    box-shadow: rgba(55,65,81, 0.525) 0 0 1rem 0.3rem;
    color: white;
    margin-top: 10%;
}

input, select {
    background-color: #333a45;
    margin: 5px 0 10px 0;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0.1px solid #5b6677;
    outline: none;
    font-size: 1rem;
    color: white;
}

button {
    margin: 10px 0;
    padding: 6px 0;
    background-color: #149eca;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
}

button:hover {
    transition: background-color 0.2s ease;
    background-color: #2ab9e9;
    transition: box-shadow 0.1s ease;
    box-shadow: rgba(56,186,229, 0.525) 0 0 1rem 0.1rem;
}

.header {
    margin: 35px 0;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 100px;
}

.form-add-money {
    width: 250px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.form-add-money form {
    width: 250px;
}

.form-add-money form input {
    width: 220px;
}

.form-add-money form button {
    width: 250px;
}

.messages {
    height: 90px;
    padding: 10px 0;
}

.error {
    width: 80%;
    margin: 5px auto;
    margin-bottom: 0;
    padding: 5px 0;
    border-radius: 10px;
    background-color: rgba(255, 205, 210, 0.815);
    color: #b71c1c;
    animation: fadeInAndGrow 1s ease forwards;
}

@keyframes fadeInAndGrow {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.main-form {
    margin: 0 auto;
    display: table;
    clear: both;
    align-items: center;
    padding: 0 0 10px 0;
}

.balance-sheet, .form-add-subscription {
    float: left;
    width: 220px;
}

.balance-sheet {
    height: 246px;
    background-color: #38bae5;
    color: black;
    font-weight: bold;
    border-radius: 20px 60px;
    box-shadow: rgba(56,186,229, 0.525) 0 0 1rem 0.1rem;
    text-align: left;
    margin-right: 20px;
    font-size: 1.1rem;
    display: grid;
    place-content: center;
}

.form-add-subscription {
    margin-left: 20px;
}

.form-add-subscription form {
    display: grid;
}

.form-add-subscription form select {
    text-align: center;
}

.subscription-item {
    height: 85px;
    margin: 10px 0;
    padding: 0 25px;
    background-color: #38bae5;
    box-shadow: rgba(56,186,229, 0.525) 0 0 1rem 0.1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription-item img {
    width: 150px;
}

.subscription-item button {
    width: 70px;
    background-color: #404854;
}

.subscription-item button:hover {
    transition: background-color 0.2s ease;
    background-color: #333a45;
    transition: box-shadow 0.1s ease;
    box-shadow: rgba(51,58,69, 0.525) 0 0 1rem 0.1rem;
}