@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com" crossorigin');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap"');

html {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    background-color: #23272f;
}